<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>254349249138-59rl6ake6ghjoe7f5gq2eb2n891dh5ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254349249138-59rl6ake6ghjoe7f5gq2eb2n891dh5ie</string>
	<key>API_KEY</key>
	<string>AIzaSyDoEmBqyNjBj3jf_Bm_62nF7oiPI0aSrC4</string>
	<key>GCM_SENDER_ID</key>
	<string>254349249138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mbrina.reporTEC</string>
	<key>PROJECT_ID</key>
	<string>reportec-3cb52</string>
	<key>STORAGE_BUCKET</key>
	<string>reportec-3cb52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254349249138:ios:375454f1818f4abd</string>
	<key>DATABASE_URL</key>
	<string>https://reportec-3cb52.firebaseio.com</string>
</dict>
</plist>